# Notebook for lab 2

To run this lab, first follow the instructions in the
[problem text](lab2.html), write a script `lab2.sql` which
defines your database, and inserts some data into it. It can
be called as:

```sh
sqlite3 movies.sqlite < lab2.sql
```

Each time you want to restart this lab, you can run the
command above.

To be able to write SQL queries in this notebook, we first
have to run:

In [1]:
%load_ext sql

And to work with our database, we import it with (assuming
you called your database file `movies.sqlite`):

In [2]:
%sql sqlite:///lab2.db

'Connected: None@lab2.db'

## Tasks for lab 2

First write a query to show the names of all movies:

In [16]:
%%sql
SELECT  COUNT()
FROM    reservations
WHERE   movie_name = "Dokumentär om Borrby" AND show_date = "2017-01-26"
"SELECT  COUNT()" +
                "FROM    reservations" +
                "WHERE   movie_name = ? AND show_date = ?"

Done.

[(1,)]

Then show all performances for one of the movies:

In [17]:
%%sql
SELECT  seats
FROM    theaters
WHERE   name = "Royal Malmö"

Done.

[(7,)]

And show all data concerning one of the performances:

In [ ]:
%%sql

Now write code to create a reservation (see [problem
text](lab2.html) for more help):

In [ ]:
%%sql

Finally, check that the key constraints that you have stated
work as intended:

 + try to insert two movie theaters with the same name:

In [ ]:
%%sql

+ try to insert two performances of the same movie on the
   same date:

In [ ]:
%%sql

+ try to insert a performance where the theater doesn’t
   exist in the database,

In [ ]:
%%sql

+ try to insert a ticket reservation where either the user
   or the performance doesn’t exist (observe that SQLite
   doesn't check foreign key constraints by default, you
   have to explicitly tell it to -- see the [problem
   text](lab2.html) for more information):

In [ ]:
%%sql